.logo-container {
    z-index: 0;
    width: 400px;
    height: 609px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
    opacity: 0;
    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(30deg) !important;
    }
    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width:400pt;
        height:400pt;
        z-index: 1;
    }
}
.svg-container {
    stroke: #ffd700;
    stroke-width: 10;
}

/* ____________tablets__________ */
@media screen and (max-width: 1024px){
    .logo-container {
        width: 200px;
        height: 400px;
        position: static;
        svg {
            width: 70%;
        }
        .solid-logo {
            margin: 20px;
            width: 300pt;
            height: 300pt;
        }
    }
}
  /* ____________phones__________ */
  @media screen and (max-width: 600px){
    .logo-container {
        z-index: 0;
        width: 100px;
        height: 309px;
        position: static;
        svg {
            width: 60%;
        }
        .solid-logo {
            margin: 15px;
            width: 150pt;
            height: 150pt;
        }
    }
  }